<!DOCTYPE html>
<html>
<head>
    <title>Nexa Sens Dashboard</title>
    <link rel="stylesheet" href="/static/PRO.css">
</head>
<body>
<header>
    <div class="logo">Nexa Sensors</div>
    <a href="/" class="acceuil-btn">Accueil</a>
    <div class="user-menu">
        <span>{{ session.get('username') }}</span>
        <div class="dropdown">
            <a href="/settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>

<h1 class="title">Dashboard</h1>
<div class="zones">
    {% for zone in zones %}
        <a href="/zone/{{ zone }}" class="zone-box">{{ zone }}</a>
    {% endfor %}
</div>
</body>
</html>
